
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$primary-color:#AB8A5C;

/* MAP COLOR RRSS*/
$colors: (
  twitter: #55acee,
  facebook:  #3a5795,
  send-mail: #C25E30
);

@each $name-color, $bgcolor in $colors {
  .btn--#{$name-color} {
      background-color: $bgcolor;
  }
}


/* MAP GET */

$colores: (

  base: black,

);


/* EXTEND */

%bodyfont {

  font-family: 'Baskervville', serif;

}

/* MIXIN */

@mixin bodymargin {

  margin-left: 10%;
  margin-right: 10%;

}

/* BODY CON MAP-GET EXTEND Y MIXIN APLICADOS*/

body {
    background-color: map-get($colores, base);
    @extend %bodyfont;
    @include bodymargin;
    
}

a {
    color: $primary-color;
    text-decoration: none;
}

a:hover {
  color: white;
}



hr {
    height: 1px;
    border: 0;
    background-color: $primary-color;
  }

button {
    float: right;
    padding: 1px 7px;
    font-family: 'Baskerville Old Face';
    border: 1px solid #AB8A5C;
    background: none;
    color: #AB8A5C;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
  }
  
button:hover {
    background: white;
    color: #AB8A5C;
  }

.button1 {
    height: 20px;
    width: 200px;
    margin-bottom: 1.3%;
    font-size: 11px;
  }
  
.button2 {
    height: 22px;
    margin-top: 1%;
    width: 100px;
    height: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #email {
    width: 55%;
    background: none;
    font-family: inherit;
    color: #AB8A5C;
    letter-spacing: 1px;
  }
  
  #submit {
    width: 20%;
    height: 26px;
    font-size: 0.7rem;
    background: black;
    font-family: inherit;
    color: #AB8A5C;
    border-color: #AB8A5C;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
  
  
  input:focus {
    outline: none;
  }

.nav-item:hover {
  color: whitesmoke;
}


/* MAIN CONTACT*/

#main {
  height: 72vh;
 

  
  .main__contact  {
    height: 72vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1228px;
    width: 100%;
    background: none;
    color: #AB8A5C;
  }
    .main__contact .main__hrcontact {
      position: relative;
      padding-top: 1%;
      max-width: 500px;
      margin: auto;
      border-color: #615a5a;
    }

      .main__contact .main__titlecontact {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        position: relative;
      }


        .contact-form {
          width: 70%;
          max-width: 600px;
          background: none;
          position: flex;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin: auto;
        }

          .contact-form h1 {
            margin-top: 0;
            font-weight: 200;
            color: #AB8A5C;
            padding-bottom: 2%;
          }
            .txtb1 {
              border: 1px solid #615a5a;
              margin: 10px 0;
              padding: 15px 10px;
              color: #AB8A5C;
            }

              .txtb1 label {
                display: block;
                text-align: left;
                text-transform: uppercase;
                font-size: 14px;
                color: #AB8A5C;
                padding-bottom: 1%;
              }
                .main__contact input {
                  border: 1px solid #615a5a;
                }
                  .txtb1 input, .txtb1 textarea {
                    width: 100%;
                    height: 22px;
                    border: 1px solid #615a5a;
                    background: none;
                    outline: 1px;
                    color: #AB8A5C;
                  }
                    .txtb1 textarea {
                      width: 100%;
                      height: 40px;
                    }
                      .button1 {
                        display: block;
                        width: 100%;
                        max-width: 600px;
                        padding: 8px;
                        color: #AB8A5C;
                        border: 1px solid #AB8A5C;
                        text-transform: uppercase;
                        cursor: pointer;
                        margin-top: 8px;
                      }
}


  

  
  
  

  
  
  
  

  
  
  
 
  
  

/* MAIN ABOUT */

#main {
  height: 72vh;

  .main__about {
      height: 550px;
      width: 1228px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 1228px;
      width: 100%;
      background: none;
      color: #AB8A5C;
    }
  
    .main__about .main__hrabout {
        position: relative;
        padding-top: 1%;
        max-width: 500px;
        margin: auto;
        border-color: #615a5a;
      }
  
      .main__about .main__titleabout {
          font-size: 40px;
          font-weight: 500;
          text-align: center;
          position: relative;
        }
  
        .main__about p {
            text-align: center;
            color: #615a5a;
          }

          .container1 .hrtitle {
              position: relative;
              padding-top: 1%;
              padding-bottom: 1%;
              max-width: 500px;
              margin: auto;
              height: 1px;
              border: 0;
            }
  
            .container1 .title {
                font-size: 40px;
                font-weight: 500;
                text-align: center;
                position: relative;
              }
  
              .container1 form .user-details {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                      flex-wrap: wrap;
                  -webkit-box-pack: justify;
                      -ms-flex-pack: justify;
                          justify-content: space-between;
                  margin: 20px 0 12px 0;
                }
  
                form .user-details .input-box {
                    margin-bottom: 20px;
                    width: calc(100% / 2 - 20px);
                  }
  
                  .user-details .input-box .details {
                      display: block;
                      font-weight: 300;
                      margin-bottom: 5px;
                      text-align: center;
                    }
  
                    .user-details .input-box input {
                        height: 28px;
                        width: 100%;
                        outline: none;
                        border: 1px solid #615a5a;
                        padding-left: 5px;
                        border-bottom-width: 1px;
                        background: none;
                        color: #AB8A5C;
                      }
  
                      .user-details .input-box input:valid {
                          border-color: #AB8A5C;
                        }
  
                        .registerbutton {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            margin: auto;
                            padding-top: 1%;
                          }
  
                            .container1 button {
                                width: 150px;
                                padding: 1%;
                                font-size: 18px;
                              }
                              
                                .button {
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-pack: center;
                                        -ms-flex-pack: center;
                                            justify-content: center;
                                    width: 230px;
                                    background: black;
                                    padding: 2%;
                                    color: #AB8A5C;
                                    border: 1px solid #AB8A5C;
                                    text-transform: uppercase;
                                    cursor: pointer;
                                  }
  
                                    .container1__register .singin__google {
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        padding-top: 1%;
                                        -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                                justify-content: center;
                                      }
  
                                        .container1__register .singin__github {
                                            display: -webkit-box;
                                            display: -ms-flexbox;
                                            display: flex;
                                            padding-top: 1%;
                                            -webkit-box-pack: center;
                                                -ms-flex-pack: center;
                                                    justify-content: center;
                                          }
  
                                            .container1__register button {
                                                width: 250px;
                                                padding: 0.5%;
                                                font-size: 18px;
                                              }
  
                                              .container1__register p {
                                                  -ms-flex-line-pack: center;
                                                      align-content: center;
                                                  text-align: center;
                                                }
                                                  
                                                .main__img {
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                                                  padding-top: 4%;
                                                }
}
  /*MAIN CONTACT */

 


  /* Media Qry */

  @media only screen and (max-width: 880px) {
    input {
      display: none;
    }
  }

  @media only screen and (max-width: 880px) {
    .syte {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    #header a{
      font-size: 70%;
      padding-top: 0%;
    }
  }


  
  @media screen and (max-width: 600px) {
    #header ul {
      padding-left: 100%;
    }
  }

 